@import url('https://fonts.googleapis.com/css?family=Roboto:thin,medium,black');

:root {
  --second-color: hsl(54, 100%, 85%);
  --third-color: hsl(53, 25%, 45%);
  --fourth-color: hsl(55, 42%, 6%);
}

body {
    background-color: var(--fourth-color);
    cursor: url("../../public/cursor.png"), auto;
    font-family: "roboto";
    color: var(--third-color);
    font-size: 1.5vmin;
    font-weight: 100; 
}

main {
  display: flex;
  flex-direction: column;
  margin: 1vh;
  padding: 2vh;
  margin-top: 7vh;
  outline: 2px solid var(--third-color);
  box-shadow: 0 0 20px var(--second-color);
  height: 100%;
  border-radius: 1.5vh;
}

main video {
  margin-left: auto;
  margin-right: auto;
  padding: 13.4vh;
  max-width: 80%;
}

h3 {
  color: var(--second-color);
  font-weight: 500;
  margin: 0px;
  font-size: 1.5vmin;
}

video::-webkit-media-controls-panel {
  display: none;
  opacity: 1;
}

section {
  display: flex;
}

section p {
  margin: 0px;
  padding-left: 1.25vw;
}

main > p {
  padding: 2vmin;
  margin: 0px;
}
