@import url('https://fonts.googleapis.com/css?family=Roboto:thin,medium,black');

body {
    background-color: rgb(22, 21, 9);
    cursor: url("../../public/cursor.png"), auto;
    font-family: "roboto";
    color: rgb(143, 136, 85);
    font-size: 1.5vmin;
    font-weight: 100; 
}


  #flex {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 2vh;
    margin-top: 7vh;
    outline: 2px solid rgb(143, 136, 85);
    box-shadow: 0 0 20px rgb(255, 247, 178);
    height: 100%;
    border-radius: 1.5vh;
  }

  #flex video {
    margin-left: auto;
    margin-right: auto;
    padding: 13.4vh;
    max-width: 80%;
  }

  #flex div:nth-of-type(1) {
    padding: 0vh;
}


#flex div {
  padding: 2vmin;
}

#flex span {
  color: rgb(255, 247, 178);
  font-weight: 500;
}

video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}
