@import url('https://fonts.googleapis.com/css?family=Roboto:thin,medium,black');

body {
    background-color: hsl(55, 42%, 6%);
    cursor: url("../../public/cursor.png"), auto;
    font-family: "roboto";
    color: hsl(53, 25%, 45%);
    font-size: 1.5vmin;
    font-weight: 100;
} 

  #flex {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 2vh;
    margin-top: 7vh;
    outline: 2px solid hsl(53, 25%, 45%);
    box-shadow: 0 0 20px hsl(54, 100, 85%);
    border-radius: 1.5vh;
  }

  #flex img {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 100%;
    width: 60%;
  }

  #flex div:nth-of-type(1) {
    padding: 0vh;
  }

  #flex div {
    padding: 2vh;
  }

  #flex span {
    color: hsl(54, 100%, 85%);
    font-weight: 500;
  }
