@import url('https://fonts.googleapis.com/css?family=Inter:thin,extralight,light,regular,medium,semibold,bold,extrabold,black');
@import url('https://fonts.googleapis.com/css?family=Roboto:thin,light,medium,black');

:root {
  --second-color: hsl(54, 100%, 85%);
  --third-color: hsl(53, 25%, 45%);
  --fourth-color: hsl(55, 42%, 6%);
}

body {
  background-color: var(--fourth-color);
  cursor: url('../../public/cursor.png'), auto;
  font-family: 'Inter', 'roboto';
  color: var(--third-color);
  font-size: 1.5vmin;
  font-weight: 100;
}

main {
  display: flex;
  flex-direction: column;
  margin: 1vh;
  padding: 2vh;
  margin-top: 7vh;
  outline: 2px solid var(--third-color);
  box-shadow: 0 0 20px var(--second-color);
  border-radius: 1.5vh;
}

section {
  display: flex;
}

h3 {
  color: var(--second-color);
  font-weight: 500;
  margin: 0px;
  font-size: 1.5vmin;
}

section p {
  margin: 0px;
  padding-left: 2vh;
}

main > p {
  padding: 1.25vw;
  margin: 0px;
}

main img,
main video {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 100%;
  width: 60%;
}
