@import url('https://fonts.googleapis.com/css?family=Roboto:thin,medium,black');

:root {
  --second-color: hsl(54, 100%, 85%);
  --third-color: hsl(53, 25%, 45%);
  --fourth-color: hsl(55, 42%, 6%);
}

body {
  background-color: var(--fourth-color);
  cursor: url("../../public/cursor.png"), auto;
  font-family: "roboto";
  color: var(--third-color);
  font-size: 1.5vmin;
  font-weight: 100; 
}

main {
  margin: 1vh;
  padding: 2vh;
  margin-top: 7vh;
  outline: 2px solid var(--third-color);
  box-shadow: 0 0 20px var(--second-color);
  border-radius: 1.5vh;
}

main > p {
  padding: 2vh;
  margin: 0px;
  margin-left: 1.5vh;
}

section {
  display: flex;
}

section p {
  padding-left: 1.25vw;
  margin: 0px;
}

h3 {
  color: var(--second-color);
  font-weight: 500;
  margin: 0px;
  font-size: 1.5vmin;
}

ul {  
  display: flex;
  flex-direction: column;
  padding-left: 0vh;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 
}

li img, li video {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 60%;
}

li {
  display: flex;
  flex-direction: row;
  padding: 2vh;
  list-style: none;
}

li:nth-of-type(even) div {
  padding-left: 3vw;
  margin-left: auto;
  text-align: right;
}

li:nth-of-type(odd) img, li:nth-of-type(odd) video {
  margin-left: auto;
}

video::-webkit-media-controls-panel {
  display: none;
  opacity: 1;
}

ul li div p:nth-of-type(2) {
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0px;
}

ul li div p:nth-of-type(1) {
  margin-bottom: 0px;
}

