@import url('https://fonts.googleapis.com/css?family=Roboto:thin,medium,black');

:root {
  --second-color: hsl(54, 100%, 85%);
  --third-color: hsl(53, 25%, 45%);
  --fourth-color: hsl(55, 42%, 6%);
}

body {
  background-color: var(--fourth-color);
  cursor: url("../../public/cursor.png"), auto;
  font-family: "roboto";
  color: var(--third-color);
  font-size: 1.5vmin;
  font-weight: 100; 
}

#box-1 {
  margin: 1vh;
  padding: 2vh;
  margin-top: 7vh;
  outline: 2px solid var(--third-color);
  box-shadow: 0 0 20px var(--second-color);
  border-radius: 1.5vh;
}

#box-1 img {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  max-width: 100%;
  width: 100%;
}

#box-1 div {
  padding-bottom: 0vh;
}

#box-1 span {
  color: var(--second-color);
  font-weight: 500;
}

#spacing {
  padding: 2vh;
}

#box-2 {  
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#box-2 img {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 60%;
}

#box-2 video {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 60%;
}

#box-2 div {
  display: flex;
  flex-direction: row;
  padding: 2vh;
}

#p-left {
  padding-right: 3vw; 
}

#p-right {
  padding-left: 3vw;
  margin-left: auto;
  text-align: right;
}

#image-right {
  margin-left: auto;
}

#video-right {
  margin-left: auto;

}

video::-webkit-media-controls-panel {
  display: none;
  opacity: 1;
}

#image-left {
  margin-right: auto;
}
