@import url("https://fonts.googleapis.com/css?family=Inter:thin,extralight,light,regular,medium,semibold,bold,extrabold,black");
@import url("https://fonts.googleapis.com/css?family=Roboto:thin,light,medium,black");

:root {
    --main-color: hsl(55, 100%, 49%);
    --second-color: hsl(54, 0%, 94%);
    --third-color: hsl(53, 7%, 84%);
    --fourth-color: hsl(55, 16%, 34%);
    --fifth-color: hsl(55, 24%, 18%);
    --sixth-color: hsl(55, 28%, 4%);
    --seventh-color: black;
    --circle-border-radius: 50%;
    --section-border-radius: 1.5rem;
    --media-border-radius: 1rem;
    --button-border-radius: 8px;
    --font-family: "Inter", "Roboto", sans-serif;
    --mobile-font-size: 1rem;
    --border: 2px solid var(--fifth-color);
}

body {
    background-color: black;
    cursor: url("../../public/cursor.webp"), auto;
    font-family: "Inter", "roboto";
    color: var(--fourth-color);
    font-size: var(--mobile-font-size);
    font-weight: 300;

    main {
        display: flex;
        flex-direction: column;
        margin: 7vh 25vw 1vh 25vw;
        padding: 1.2rem;
        /* outline: 2px solid var(--third-color); */
        height: 100%;
        border-radius: var(--section-border-radius);
        box-shadow:
            inset 0 0 2px 0 rgba(61, 58, 41, 1),
            inset 0 0 4px 0 rgba(0, 0, 0, 0.4),
            inset 0 0 4px 5px rgba(0, 0, 0, 0.05),
            2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: var(--sixth-color);
        gap: 1rem;

        video {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        h3 {
            color: var(--second-color);
            font-weight: 500;
            margin: 0px;
            font-size: var(--mobile-font-size);
        }

        section {
            display: flex;
            flex-direction: row;
        }

        > p {
            margin: 0px;
            margin-left: 1.5vh;
        }
    }
}

video::-webkit-media-controls-panel {
    display: none;
    opacity: 1;
}

@media (max-width: 1376px) {
    body {
        main {
            margin: 7vh 1vw 1vh 1vw;
            height: calc(100vh - 112px);
        }
    }
}
