:root {
  --third-color: hsl(53, 25%, 45%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5.5rem;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.95) 0%,
    hsla(0, 0%, 0%, 0.95) 50%,
    hsla(0, 0%, 0%, 0.75) 75%,
    hsla(0, 100%, 100%, 0) 100%
  );
  z-index: 2;
  display: flex;
  justify-content: flex-start;
}

header a:first-of-type {
  margin-right: auto;
}

header a:first-of-type img {
  width: 55px;
  margin-left: 0.6rem;
}

header a:nth-of-type(2):-webkit-any-link {
  font-weight: 500;
  color: var(--third-color);
  text-decoration: none;
  margin-right: 1rem;
  font-family: 'inter';
  font-size: 1.55rem;
}

header a:nth-of-type(2):-webkit-any-link:hover {
  color: var(--second-color);
}

header a:not(:first-of-type) {
  font-size: 1.5rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
}

header a:not(:first-of-type) img {
  width: 1.6rem;
  padding-top: 0.16rem;
}

header a:last-of-type img {
  padding-right: 0.45rem;
}

header a:first-of-type:hover img {
  filter: brightness(125%);
}

header a:nth-of-type(2) img:hover {
  filter: brightness(150%);
}

header a:nth-of-type(3) img:hover {
  filter: brightness(150%);
}

header a:nth-of-type(4) img:hover {
  filter: brightness(150%) saturate(10%);
}

header a:nth-of-type(5) img:hover {
  filter: hue-rotate(320deg) brightness(80%) saturate(1000%);
}

header a:nth-of-type(6) img:hover {
  filter: hue-rotate(150deg) brightness(60%) saturate(500%);
}

header a:nth-of-type(7) img:hover {
  filter: brightness(200%) saturate(0%);
}

header a:nth-of-type(8) img:hover {
  filter: hue-rotate(175deg) brightness(100%) saturate(1200%);
}

header a:nth-of-type(9) img:hover {
  filter: hue-rotate(250deg) brightness(80%) saturate(1000%);
}

@media (max-width: 1375px) {
  header {
    z-index: 3;
  }

  header a:first-of-type img {
    width: 3rem;
    margin-left: 0.2rem;
    margin-top: 0.4rem;
  }

  header a:not(:first-of-type) {
    font-size: 1.3rem;
    padding-right: 0rem;
    padding-top: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 0rem;
  }

  header a:not(:first-of-type) img {
    width: 1.6rem;
  }
}
