@import url('https://fonts.googleapis.com/css?family=Roboto:thin,light,medium,black');

:root {
  --main-color: hsl(55, 100%, 49%);
  --second-color: hsl(54, 100%, 85%);
  --third-color: hsl(53, 25%, 45%);
  --fourth-color: hsl(55, 42%, 6%);
  --fifth-color: hsl(0, 0%, 16%);
  --sixth-color: hsl(0, 0%, 7%);
  --seventh-color: black;
  --circle-border-radius: 50%;
  --section-border-radius: 1.5vh;
  --media-border-radius: 20px;
  --button-border-radius: 0 3px 3px 0;
  --font-family: 'Roboto', sans-serif;
  --mobile-font-size: 1.25rem;
  --border: 2px solid var(--third-color);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sixth-color);
  z-index: 3;
  transition:
    opacity 0.75s,
    visibility 0.75s;
}

.loader-text {
  font-size: 1.75vw;
  color: var(--third-color);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-family);
  font-weight: 500;
}

.loader::after {
  content: '';
  width: 8vw;
  height: 8vw;
  border: 0.4vw solid var(--seventh-color);
  border-top-color: var(--fifth-color);
  border-radius: var(--circle-border-radius);
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

body {
  margin: 0;
  cursor: url('../public/cursor.png'), auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

aside {
  position: absolute;
  height: 100vh;
  background-color: var(--seventh-color);
  z-index: 0;
  width: 100vw;
  right: 0;
  top: 0;
}

main {
  position: relative;
  display: flex;
  z-index: 2;
  margin-top: 5vmin;
}

main > section {
  text-shadow:
    2px 2px 0px hsl(50, 44%, 28%),
    0px 0px 7.5px var(--fifth-color);
  font-family: var(--font-family);
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 5.7vmin;
  color: var(--main-color);
  font-weight: 900;
  margin: 0px;
}

h2 {
  color: var(--second-color);
  font-size: 3.5vmin;
  font-weight: 500;
  margin: 0px;
  margin-top: -0.6vmin;
}

main > div {
  width: 64%;
}

main div section:first-of-type {
  font-size: 1.5vmin;
  color: var(--third-color);
  font-family: var(--font-family);
  background-color: var(--fourth-color);
  font-weight: 300;
  outline: var(--border);
  padding: 2vmin;
  margin: 0vmin 1.2vmin;
  box-shadow: 0 0 20px var(--second-color);
  border-radius: var(--section-border-radius);
  height: 14vh;
}

main div section:first-of-type div {
  display: flex;
  padding-top: 3.75vmin;
  padding-bottom: 2.25vmin;
  justify-content: center;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0.6vmin;
  padding-right: 0.6vmin;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 1.5vmin;
  padding-right: 1.5vmin;
}

li::before {
  content: '▢';
  font-size: 1.1vmin;
  padding-right: 0.75vmin;
}

main div section:nth-of-type(2) {
  font-family: var(--font-family);
  background-color: var(--fourth-color);
  outline: var(--border);
  padding: 1vmin;
  margin: 1.2%;
  position: relative;
  box-shadow: 0 0 20px var(--second-color);
  border-radius: var(--section-border-radius);
  padding-bottom: 0vmin;
  height: 71vh;
  overflow: auto;
  -ms-overflow-style: none;
}

main div section:nth-of-type(2)::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit browsers */
}

h3 {
  font-size: 2vmin;
  color: var(--second-color);
  font-weight: 500;
  padding: 1vmin;
  margin: 0vmin;
}

/* Hide the images by default */
.slides {
  display: flex;
  margin-top: 0.4vmin;
  animation-name: fade;
  animation-duration: 1.5s;
}

#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: var(--third-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: var(--button-border-radius);
  user-select: none;
  background-color: hsla(55, 42%, 6%, 0.65);
}

#next {
  right: 0;
  border-radius: var(--button-border-radius);
}

#prev:hover,
#next:hover {
  background-color: var(--fourth-color);
}

.slides p {
  color: var(--third-color);
  font-size: 1.5vmin;
  padding: 1.5vmin;
  text-align: center;
  font-weight: 300;
  flex: 1;
}

.dot {
  cursor: pointer;
  height: 1.5vmin;
  width: 1.5vmin;
  margin: 0 2px;
  border: var(--border);
  border-radius: var(--circle-border-radius);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--third-color);
  border: var(--border);
}

main > div > section:nth-of-type(2) div ul {
  text-align: center;
  position: relative;
  bottom: 2.75vmin;
}

main > div > section:nth-of-type(2) div div > a {
  display: flex;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

main div section:nth-of-type(2) div a img,
main div section:nth-of-type(2) div a video {
  width: 100%;
  border-radius: var(--media-border-radius);
  padding: 0vmin 0.6vmin;
  box-sizing: border-box;
}

video::-webkit-media-controls-panel {
  display: none;
}

@media (max-width: 1375px) {
  aside {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
  }

  .loader-text {
    font-size: 6vw;
  }

  .loader::after {
    width: 28vw;
    height: 28vw;
    border: 2vw solid var(--seventh-color);
    border-top-color: var(--fifth-color);
  }

  canvas {
    width: 100%;
  }

  main {
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  main > div {
    width: 100%;
  }

  main > section {
    padding-bottom: 90vh;
    margin: 20px auto;
  }

  h1 {
    font-size: 2.75rem;
    margin-top: 4vh;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: -1.2vmin;
  }

  main div section:first-of-type {
    font-size: var(--mobile-font-size);
    height: 100%;
  }

  main div section:first-of-type div {
    display: flex;
    flex-direction: column;
  }

  .slides p {
    font-size: var(--mobile-font-size);
  }

  .dot {
    height: 4.2vmin;
    width: 4.2vmin;
  }

  main > div > ul {
    bottom: 8vh;
  }

  h3 {
    font-size: var(--mobile-font-size);
  }

  main > div > section:nth-of-type(2) div ul {
    bottom: 6vmin;
  }

  main div section:nth-of-type(2) {
    height: 100%;
  }
}
